<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>

			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Development</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>@thekirbylover</string>
			<key>cellClass</key>	<string>ORGroupedCell</string>
			<key>location</key>		<string>2t</string>
			<key>action</key>  		<string>twitter:</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>@aehmlo</string>
			<key>cellClass</key>	<string>ORGroupedCell</string>
			<key>location</key>		<string>2b</string>
			<key>action</key>  		<string>twitter:</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Testing &amp; Support</string>
			<key>footerText</key>   <string>Thanks for pushing me to keep working, stay motivated, and never forget my peeps.</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>@mr_abbz</string>
			<key>cellClass</key>	<string>ORGroupedCell</string>
			<key>location</key>		<string>3t</string>
			<key>action</key>  		<string>twitter:</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>@hizinfiz</string>
			<key>cellClass</key>	<string>ORGroupedCell</string>
			<key>location</key>		<string>3m</string>
			<key>action</key>  		<string>twitter:</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>@teslief</string>
			<key>cellClass</key>	<string>ORGroupedCell</string>
			<key>location</key>		<string>3b</string>
			<key>action</key>  		<string>twitter:</string>
		</dict>
		
		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Sounds</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>@thartmovmnt</string>
			<key>icon</key> 		<string>twitter.png</string>
			<key>action</key>  		<string>twitter:</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Hearts</string>
			<key>footerText</key>	<string>&lt;3</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>@sentry_nc</string>
			<key>icon</key> 		<string>twitter.png</string>
			<key>action</key>  		<string>twitter:</string>
		</dict>


		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Beta All-Stars</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>@eazter_eggz</string>
			<key>cellClass</key>	<string>ORGroupedCell</string>
			<key>location</key>		<string>3t</string>
			<key>action</key>  		<string>twitter:</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>@kevin_stallone</string>
			<key>cellClass</key>	<string>ORGroupedCell</string>
			<key>location</key>		<string>3m</string>
			<key>action</key>  		<string>twitter:</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>@keenerz</string>
			<key>cellClass</key>	<string>ORGroupedCell</string>
			<key>location</key>		<string>3b</string>
			<key>action</key>  		<string>twitter:</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key> 		<string>Special Thanks</string>
			<key>alignment</key> 	<integer>1</integer>
			<key>footerText</key> 	<string>To the entire /r/jailbreak community as a whole— thanks for being awesome, and I hope I was worth your upvotes (and more recently, your cash).</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key> 		<string>Coming Soon</string>
			<key>alignment</key> 	<integer>1</integer>
		</dict>

		<dict>
			<key>cellClass</key> 	<string>RequestCell</string>
			<key>label</key> 		<string>User switching and multiple account support. Quick reply. Your wildest dreams: tap here to send me your request!</string>
		</dict>


		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
		</dict>

	</array>
	<key>title</key>	<string>About</string>
</dict>
</plist>