Package: com.insanj.orangered8
Replaces: com.insanj.orangered, com.insanj.orangered7
Name: Orangered for iOS 8
Pre-Depends: firmware (>= 8.0)
Depends: mobilesubstrate, applist, ws.hbang.common (>= 1.2)
Version: 1.0.2
Architecture: iphoneos-arm
Description: Reddit push notifications.
Homepage: http://insanj.com/orangered
Maintainer: insanj <insanjmail@gmail.com>
Author: Rinse
Section: Tweaks
Icon: file:///Library/PreferenceBundles/ORPrefs.bundle/modern@2x.png
