Package: com.insanj.orangered7
Name: Orangered for iOS 7-8
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate, applist
Version: 1.3
Architecture: iphoneos-arm
Description: Reddit push notifications.
Homepage: http://insanj.com/orangered
Maintainer: insanj <insanjmail@gmail.com>
Author: Julian Weiss & Phillip Tennen
Section: Tweaks
Icon: file:///Library/PreferenceBundles/ORPrefs.bundle/modern@2x.png
