Package: com.phillipt.orangered
Name: Orangered For iOS 7
Depends: mobilesubstrate, libactivator
Version: 0.0.1
Architecture: iphoneos-arm
Icon: icon.png
Description: Native Reddit push notifications!
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
