<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key> 		<string>PSGroupCell</string>
			<key>footerText</key> 	<string>Your Reddit inbox is checked after respringing, triggering via Activator, or Applying Changes, and after every subsequent interval.</string>
		</dict>

		<dict>
			<key>cell</key> 	<string>PSSwitchCell</string>
			<key>default</key> 	<true/>
			<key>defaults</key> <string>com.insanj.orangered</string>
			<key>key</key> 		<string>enabled</string>
			<key>label</key> 	<string>Enabled</string>
		</dict>

		<dict>
			<key>cell</key> 				<string>PSLinkCell</string>
			<key>label</key> 				<string>Activation Methods</string>
			<key>id</key> 					<string>ActivationMethods</string>
			<key>isController</key> 		<true/>
			<key>bundle</key> 				<string>LibActivator</string>			
			<key>activatorListener</key> 	<string>com.insanj.orangered.listener</string>
			<key>enabled</key> 				<false/>
		</dict>

		<dict>
			<key>cell</key> 		<string>PSGroupCell</string>
			<key>label</key> 		<string>Credentials</string>
			<key>footerText</key> 	<string>Activate Orangered to secure your password.</string>
		</dict>

		<dict>
			<key>cell</key> 		<string>PSEditTextCell</string>
			<key>cellClass</key> 	<string>OREditTextCell</string>
			<key>detail</key> 		<string>PSDetailController</string>
			<key>defaults</key> 	<string>com.insanj.orangered</string>
			<key>key</key> 			<string>username</string>
			<key>label</key> 		<string>Username</string>
			<key>placeholder</key> 	<string>username</string>
		</dict>
		
		<dict>
			<key>cell</key> 		<string>PSSecureEditTextCell</string>
			<key>cellClass</key> 	<string>OREditDoneTextCell</string>
			<key>detail</key> 		<string>PSDetailController</string>
			<key>defaults</key> 	<string>com.insanj.orangered</string>
			<key>key</key> 			<string>password</string>
			<key>label</key> 		<string>Password</string>
			<key>placeholder</key> 	<string>hunter2</string>
			<key>id</key> 			<string>PasswordField</string>
		</dict>

		<dict>
			<key>cell</key> 	<string>PSSwitchCell</string>
			<key>default</key> 	<true/>
			<key>defaults</key> <string>com.insanj.orangered</string>
			<key>key</key> 		<string>secure</string>
			<key>label</key> 	<string>Secure</string>
            <key>PostNotification</key> <string>com.insanj.orangered/Secure</string>
		</dict>

		<dict>
			<key>cell</key> 		<string>PSGroupCell</string>
            <key>label</key> 	   	<string>Activation</string>
            <key>footerText</key> 	<string>Enable Badges and Sounds in Notification Center settings.</string>
		</dict>

		<dict>
		    <key>cell</key> 			 <string>PSLinkListCell</string>
            <key>detail</key> 			 <string>ORClientListItemsController</string>
		    <key>key</key> 				 <string>clientIdentifier</string>
            <key>staticTextMessage</key> <string>If left empty, clients are dynamically read and one selected every activation.</string>
            <key>defaults</key>    		 <string>com.insanj.orangered</string>
            <key>label</key> 	    	 <string>Client</string>
            <key>titlesDataSource</key>  <string>clientTitles:</string>
            <key>valuesDataSource</key>  <string>clientValues:</string>
        </dict>

        <dict>
            <key>cell</key>             	 <string>PSLinkListCell</string>
            <key>detail</key> 				 <string>ORRingtoneController</string>
            <key>defaults</key>         	 <string>com.insanj.orangered</string>
            <key>key</key> 					 <string>alertTone</string>
            <key>label</key>             	 <string>Sound</string>
            <key>titlesDataSource</key> 		 <string>toneTitles:</string>
            <key>valuesDataSource</key> 	 <string>toneValues:</string>
            <key>id</key> 					 <string>SoundPicker</string>
        </dict>

        <dict>
            <key>cell</key> 		<string>PSLinkCell</string>
            <key>cellClass</key> 	<string>ORLinkCell</string>
            <key>label</key> 		<string>Notification Center</string>
            <key>action</key> 		<string>notificationCenter</string>
        </dict>

		<dict>
			<key>cell</key> 		<string>PSGroupCell</string>
			<key>label</key> 		<string>Options</string>
		</dict>

		<dict>
			<key>cell</key> 	<string>PSSwitchCell</string>
			<key>default</key> 	<true/>
			<key>defaults</key> <string>com.insanj.orangered</string>
			<key>key</key> 		<string>useMessageTimeStamp</string>
			<key>label</key> 	<string>Timestamp via Message</string>
		</dict>

		<dict>
			<key>cell</key> 	<string>PSSwitchCell</string>
			<key>default</key> 	<false/>
			<key>defaults</key> <string>com.insanj.orangered</string>
			<key>key</key> 		<string>disableNetworkIndicator</string>
			<key>label</key> 	<string>Hide Status Bar Activity</string>
		</dict>

		<dict>
			<key>cell</key> 	<string>PSSwitchCell</string>
			<key>default</key> 	<true/>
			<key>defaults</key> <string>com.insanj.orangered</string>
			<key>key</key> 		<string>repeatNotify</string>
			<key>label</key> 	<string>Repeat Notifications</string>
		</dict>

		<dict>
			<key>cell</key> 	<string>PSSwitchCell</string>
			<key>default</key> 	<true/>
			<key>defaults</key> <string>com.insanj.orangered</string>
			<key>key</key> 		<string>alwaysNotify</string>
			<key>label</key> 	<string>Always Notify</string>
		</dict>

		<dict>
			<key>cell</key> 	<string>PSSwitchCell</string>
			<key>default</key> 	<false/>
			<key>defaults</key> <string>com.insanj.orangered</string>
			<key>key</key> 		<string>alwaysMarkRead</string>
			<key>label</key> 	<string>Mark Read</string>
		</dict>

		<dict>
			<key>cell</key> 		<string>PSGroupCell</string>
			<key>footerText</key> 	<string>Device-side Reddit API request guard to prevent Reddit-side rate limiting.</string>
		</dict>

		<dict>
			<key>cell</key> 	<string>PSSwitchCell</string>
			<key>default</key> 	<true/>
			<key>defaults</key> <string>com.insanj.orangered</string>
			<key>key</key> 		<string>rateGuard</string>
			<key>label</key> 	<string>Rate Guard</string>
		</dict>

		<dict>
			<key>cell</key> 		<string>PSGroupCell</string>
			<key>footerText</key> 	<string>Make sure to apply changes after altering the interval. Set Never to exclusively use Activator.</string>
		</dict>

		<dict>
			<key>cell</key> 		<string>PSEditTextCell</string>
			<key>cellClass</key> 	<string>OREditDoneTextCell</string>
			<key>detail</key> 		<string>PSDetailController</string>
			<key>defaults</key> 	<string>com.insanj.orangered</string>
			<key>isNumeric</key> 	<true/>
			<key>id</key> 			<string>RefreshInterval</string>
			<key>key</key> 			<string>refreshInterval</string>
			<key>label</key> 		<string>Refresh Interval</string>
			<key>placeholder</key> 	<string>3600, 60, 1</string>
		</dict>

		<dict>
            <key>cell</key> 		<string>PSSegmentCell</string>
            <key>defaults</key> 	<string>com.insanj.orangered</string>
            <key>id</key> 			<string>IntervalControl</string>
            <key>key</key> 			<string>intervalControl</string>
            <key>validTitles</key> <array>
            	<string>Never</string>
                <string>Seconds</string>
                <string>Minutes</string>
                <string>Hours</string>
            </array>
            <key>validValues</key> <array>
            	<real>-1.0</real>
                <real>1.0</real>
                <real>60.0</real>
                <real>3600.0</real>
            </array>
            <key>PostNotification</key> <string>com.insanj.orangered/Interval</string>
        </dict>

		<dict>
			<key>cell</key> 		<string>PSGroupCell</string>
		</dict>

        <dict>
            <key>cell</key>         <string>PSButtonCell</string>
            <key>label</key>        <string>Apply Changes Now</string>
            <key>action</key>       <string>check</string>
        </dict>

		<dict>
			<key>cell</key> 			<string>PSStaticTextCell</string>
			<key>cellClass</key>		<string>ORCreditsCell</string>
			<key>height</key> 	  	    <integer>68</integer>
		</dict>

	</array>
	<key>title</key> 	<string>Orangered</string>
</dict>
</plist>
