<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.insanj.orangered</string>
			<key>PostNotification</key>
			<string>com.insanj.orangered/preferencechanged</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Login</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.insanj.orangered</string>
			<key>PostNotification</key>
			<string>com.insanj.orangered/preferencechanged</string>
			<key>key</key>
			<string>username</string>
			<key>label</key>
			<string>Username</string>
			<key>placeholder</key>
			<string>username</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.insanj.orangered</string>
			<key>PostNotification</key>
			<string>com.insanj.orangered/preferencechanged</string>
			<key>key</key>
			<string>password</string>
			<key>label</key>
			<string>Password</string>
			<key>placeholder</key>
			<string>hunter2</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Always notify you when Orangered checks your inbox, even if you don't have mail</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.insanj.orangered</string>
			<key>PostNotification</key>
			<string>com.insanj.orangered/preferencechanged</string>
			<key>key</key>
			<string>alwaysNotify</string>
			<key>label</key>
			<string>Always Notify</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Mark messages as read when Orangered sends you a notification</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.insanj.orangered</string>
			<key>PostNotification</key>
			<string>com.insanj.orangered/preferencechanged</string>
			<key>key</key>
			<string>alwaysMarkRead</string>
			<key>label</key>
			<string>Mark Read</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Interpret refresh interval above as minutes (instead of hours).</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.insanj.orangered</string>
			<key>PostNotification</key>
			<string>com.insanj.orangered/preferencechanged</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>refreshInterval</string>
			<key>label</key>
			<string>Refresh Interval:</string>
			<key>placeholder</key>
			<string>60 (minute)</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.insanj.orangered</string>
			<key>PostNotification</key>
			<string>com.insanj.orangered/preferencechanged</string>
			<key>key</key>
			<string>minutesInterval</string>
			<key>label</key>
			<string>Minutes</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Activation Methods</string>
			<key>PostNotification</key>
			<string>com.insanj.orangered/preferencechanged</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>			
			<key>activatorListener</key>
			<string>com.insanj.orangeredforios7listener</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Support available in Cydia.&#10;&#10;© 2013-2014 Julian Weiss &amp; Phillip Tennen</string>
		</dict>
	</array>
	<key>title</key>
	<string>Orangered</string>
</dict>
</plist>
