Package: com.insanj.orangered
Name: Orangered
Depends: firmware (>= 5.0), mobilesubstrate
Version: 1.1.1
Architecture: iphoneos-arm
Description: Reddit push notifications.
 Orangered is a dynamic, virtually seamless way to unite iOS and Reddit in perfect harmony. Using programically-tight methods of retrieving, processing, and presenting Reddit information, Orangered is the best way to stay on top of your inbox. After proving your identity, this jailbreak tweak (for all devices running iOS 5.x-7.x) will automatically check your Reddit inbox for unread messages and replies. Put in your ideal checking interval (how long you want Orangered to wait before checking your inbox again, in minutes or hours), save your information, and let Orangered works its magic. Never think about your new posts, comments, or mentions again. In version 1.1, you can also use rpetrich's Activator to link actions to Orangered checks! Also comes with built-in support for OpenNotifer, so you can have special Orangered icons in your statusbar!
 Currently supports Alien Blue, Karma, upvote, iAlien, amrc, Redditor, Ruby Reddit, and Safari (just in case). Requests for more clients welcome!
Homepage: http://insanj.com/orangered
Maintainer: insanj <me@insanj.com>
Author: Julian "insanj" Weiss
Section: Tweaks
Icon: file:///Library/PreferenceBundles/ORPreferences.bundle/icon@2x.png